epsicore.home {
	tls internal
	root * /www
	encode
	file_server

	respond /hello "Hello World!"

	reverse_proxy /cockpit/* systemd-cockpit:9090
	reverse_proxy /files/* systemd-copyparty:3293
	reverse_proxy /media/* systemd-jellyfin:8096
}
