epsicore.home {
	tls internal
	root * /www
	encode
	file_server

	respond /hello "Hello World!"

	handle_path /cockpit/* {
		reverse_proxy systemd-cockpit:9090
	}
	handle_path /files/* {
		reverse_proxy systemd-copyparty:3923
	}
	handle_path /media/* {
		reverse_proxy /media/* systemd-jellyfin:8096
	}
}

{
	email miller.evan815@gmail.com
	dynamic_dns {
		provider cloudflare {env.CLOUDFLARE_API_TOKEN}
		domains {
			evanmiller.dev
		}
		dynamic_domains
	}
	log {
		output file /var/log/caddy/caddy.log
		format json
	}
}

(defaults) {
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Xss-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Content-Security-Policy "upgrade-insecure-requests"
		Referrer-Policy "strict-origin-when-cross-origin"
		Cache-Control "public, max-age=15, must-revalidate"
		Feature-Policy "accelerometer 'none'; ambient-light-sensor 'none'; autoplay 'self'; camera 'none'; encrypted-media 'none'; fullscreen 'self'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; midi 'none'; payment 'none'; picture-in-picture *; speaker 'none'; sync-xhr 'none'; usb 'none'; vr 'none'"
	}

	log {
		output file /var/log/caddy/{args[0]}.log
		format json
	}
}

evanmiller.dev {
	import defaults evanmiller.dev
	respond "Hello, {http.request.remote}!"
}

auth.evanmiller.dev {
	import defaults auth.evanmiller.dev
	reverse-proxy voidauth:3000
}

home.evanmiller.dev {
	import defaults home.evanmiller.dev
	forward_auth voidauth:3000 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
	reverse-proxy homepage:3000
}

cockpit.evanmiller.dev {
	import defaults cockpit.evanmiller.dev
	forward_auth voidauth:3000 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
	reverse-proxy cockpit:9090
}

media.evanmiller.dev {
	import defaults media.evanmiller.dev
	forward_auth voidauth:3000 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
	reverse-proxy jellyfin:8096
}

files.evanmiller.dev {
	import defaults files.evanmiller.dev
	forward_auth voidauth:3000 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
	reverse-proxy copyparty:3923
}
