[Unit]
Description=Jellyfin quadlet
After=network-online.target

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id
Volume=/var/mnt/data/Jellyfin/config:/config:Z
Volume=/var/mnt/data/Jellyfin/cache:/cache:Z
Volume=/var/mnt/data/Media:/media:Z
# hardware acceleration
AddDevice=/dev/dri/:/dev/dri/
Timezone=US/Pacific
Pull=newer

[Service]
User=jellyfin
DynamicUser=yes
# Inform systemd of additional exit status
SuccessExitStatus=0 143
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=default.target