[Unit]
Description=Bazarr quadlet
After=network-online.target

[Container]
Image=ghcr.io/hotio/bazarr:latest
AutoUpdate=registry
PublishPort=6767:6767/tcp
UserNS=keep-id
Volume=/etc/localtime:/etc/localtime:ro,z
Volume=/etc/Bazarr/config:/config:Z
Volume=/var/lib/arr/media:/data/media:z
Timezone=US/Pacific
Pull=newer
Network=arr.network

[Service]
StateDirectory=arr/media
ConfigurationDirectory=Bazarr/config
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=multi-user.target