[Unit]
Description=Cockpit web service quadlet
After=network-online.target

[Container]
Image=quay.io/cockpit/ws:latest
AutoUpdate=registry
PublishPort=9090:9090/tcp
Timezone=US/Pacific
Pull=newer

# Homepage discovery
Label=homepage.group=Admin
Label=homepage.name=Cockpit
Label=homepage.icon=cockpit
Label=homepage.href=https://cockpit.evanmiller.dev
Label=homepage.description=Server Dashboard

[Service]
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=multi-user.target