[Unit]
Description=Flaresolverr quadlet
After=network-online.target

[Container]
Image=ghcr.io/flaresolverr/flaresolverr
AutoUpdate=registry
PublishPort=8191:8191
UserNS=keep-id
Timezone=US/Pacific
Pull=newer
Network=arr.network

[Service]
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=multi-user.target