[Unit]
Description=Homepage quadlet
Requires=podman.socket

[Container]
Image=ghcr.io/gethomepage/homepage:latest
AutoUpdate=registry
UserNS=keep-id
Pull=newer
Volume=/etc/homepage:/app/config:Z
# for service discovery
Volume=/run/podman/podman.sock:/run/podman/podman.sock:ro,z
Environment=HOMEPAGE_ALLOWED_HOSTS=home.evanmiller.dev
# disable selinux so it can access podman.sock
SecurityLabelDisable=true

[Service]
ConfigurationDirectory=homepage
# Inform systemd of additional exit status
SuccessExitStatus=0 143
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=multi-user.target