[Unit]
Description=Jellyfin quadlet
After=network-online.target

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id
Volume=/etc/Jellyfin/config:/config:Z
Volume=/var/cache/Jellyfin/cache:/cache:Z
Volume=/var/lib/Jellyfin/media:/media:Z
# hardware acceleration
AddDevice=/dev/dri/:/dev/dri/
Timezone=US/Pacific
Pull=newer

# Homepage discovery
Label=homepage.group=Services
Label=homepage.name=Jellyfin
Label=homepage.icon=jellyfin
Label=homepage.href=https://media.evanmiller.dev
Label=homepage.description=Media Server

[Service]
StateDirectory=Jellyfin/media
CacheDirectory=Jellyfin/cache
ConfigurationDirectory=Jellyfin/config
# Inform systemd of additional exit status
SuccessExitStatus=0 143
Restart=always
RestartSec=30

[Install]
# Start by default on boot
WantedBy=multi-user.target